<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-text-center">
      MealDB App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
<ion-text color="secondary" class="ion-text-center">
  <h1>Categorías</h1>
</ion-text>

    <ion-card  (click)="verComida(cat.strCategory)" *ngFor="let cat of listaCategorias">
      <ion-card-title class="ion-padding" color="tertiary"><h1>{{cat.strCategory}}</h1></ion-card-title>
      <img alt="imagen" src="{{cat.strCategoryThumb}}" />
      <ion-card-header>
        
        <ion-card-subtitle>ID:{{cat.idCategory}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{cat.strCategoryDescription}}
      </ion-card-content>
    </ion-card>

</ion-content>
